body, html, ul, li, p, div, section, blockquote,h1,h2,h3,h4,h5, img,input {
	margin:0;
	padding:0;
	font-family: $bodyFonts;
	font-size: $bodytxtFonts;

}

h1, h2, h3 {
	margin:0!important;
	font-family: $headingsFonts;
	font-size: $titleFonts/1.5!important;
}

 

p {
	line-height: $txtLineheight;
}
section {
	max-width: 1128px;
	width:100%;
	margin:auto;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}