 header {
     width: 100%;
     margin: auto;
     .banner {
         background-image: linear-gradient(rgba(62, 24, 50, 0.48), rgba(126, 40, 99, 0.41)), url(img/missphryne.jpg);
         display: flex;
         width: 100%;
         height: 300px;
         background-repeat: no-repeat;
         background-position: 0px 0px;
         background-size: cover;
         background-position: center;
         align-items: center;
         justify-content: center;
         @media (min-width: $smallPad) {
             height: 400px;
         }
         .wrapper-caption {
             display: block;
             max-width: 1128px;
             width: 100%;
             padding: $marginScreen;
             position: relative;
             color: white;
             top: 0;
             left: 5%;
             .caption {
                 width: 300px;
                   @media (min-width: $smallPad) {
                     width: 340px;
                   }
                   h1{
                      @media (min-width: $smallPad) {
                      font-size: $titleFonts!important;
                   }
}
                 p {
                     line-height: $txtLineheight/1.4;
                 }
                 .seperator {
                     margin: .5em 0;
                     width: 260px;
                      @media (min-width: $smallPad) {
                       width: 334px;
                        }
                     &:before {
                         display: block;
                         content: " ";
                         border-top: white 5px solid;
                     }
                 
             }
         }
     }
 }
}