 // create blocks with shadow
 @mixin block ($width, $height, $color) {
		background-color: $color;
		max-width: $width;
		height: $height;
		-webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.49);
		-moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.49);
		box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.49);

}

@mixin paragraph(){
	display: block;
 		width: 80%;
 		text-align: center;
 		margin: auto;
  
}

@mixin buttons(){
	border-bottom: none;
    background-color: white;
    font-family: "Leander";
    color: #656565;
    font-size: 25px;
    cursor: pointer;
    width: initial;
    margin-left: 20px;
    display: block;
    outline: none;
}