 .note {
     perspective: 700px;
     margin: $marginScreen;
     position: relative;
     .note-wrapper {
         transform-style: preserve-3d;
         transition: all .5s;
         .phrynesNote,
         .noteForm {
             // 
             backface-visibility: hidden;
             @include block($noteWidth, $noteHeight, white);
             margin: auto;
             text-align: center;
             padding: $marginScreen/2;
         }
         .phrynesNote {
             // transform: rotateY(0deg); 
             h1 {
                 display: inline-block;
                 width: 80%;
             }
             blockquote {
                 padding-top: $marginScreen/4;
                 display: block;
                 width: 80%;
                 text-align: center;
                 margin: auto;
                 font-family: $noteFonts;
                 font-size: $notetxtFonts;
                 line-height: $noteLineheght;
                 @media (min-width: $mediumMob) {
                     line-height: $noteLineheght*1.3;
                 }
                 @media (min-width:$noteMob) {
                     line-height: $noteLineheght*1.8;
                 }
             }
             .arrowButton {
                 cursor: pointer;
                 width: 25px;
                 height: 25px;
                 margin: auto;
                 padding-top: $marginScreen/4;
                 &:after {
                     display: block;
                     content: "";
                     background-image: url('img/rightarrow.png');
                     background-repeat: no-repeat;
                     width: 25px;
                     height: 25px;
                     margin: auto;
                 }
             }
         } // .endof phrynesnote
         .noteForm {
             position: absolute;
             top: 0;
             right: 0;
             bottom: 0;
             left: 0;
             z-index: -1;
             transform: rotateY(180deg);
             span {
                 text-align: left;
                 display: block;
                 margin-left: 7%;
                 line-height: 2em;
                 font-size: .8em;
                 opacity: 0;
             }
             input {
                 border: none;
                 border-bottom: 1px solid #656565;
                 width: 90%;
                 margin-top: $marginScreen;
                 outline: none;
                 height: 40px;
                 @media (max-width: $mediumMob) {
                     margin-top: $marginScreen/2;
                 }
                 &::-webkit-input-placeholder {
                     /* Chrome/Opera/Safari */
                     font-family: $bodyFonts;
                     color: $textColor;
                     font-size: $formtxtFonts;
                 }
                 &::-moz-placeholder {
                     /* Firefox 19+ */
                     font-family: $bodyFonts;
                     color: $textColor;
                     font-size: $formtxtFonts;
                 }
                 &:-ms-input-placeholder {
                     /* IE 10+ */
                     font-family: $bodyFonts;
                     color: $textColor;
                     font-size: $formtxtFonts;
                 }
                 &:-moz-placeholder {
                     /* Firefox 18- */
                     font-family: $bodyFonts;
                     color: $textColor;
                     font-size: $formtxtFonts;
                 }
                 &[type="submit"] {
                     @include buttons();
                 }
             }
             #status {
                 text-align: left;
                 margin-left: 21px;
             }
         }
     }
 }