 .privatecollection {
     h1 {
         text-align: center;
         margin-bottom: $marginScreen/2!important;
     }
     p {
         @include paragraph();
     }
     .gallery {
         display: block;
         width: auto;
        width: 300px;
         height: 200px;
         overflow: hidden;
         margin: auto;
         position:relative;

        margin: 3em auto;
            @media (min-width: $largeMob){
                width: 500px;
                height: 400px;
                    }
         .galleryImages{
            position: absolute;
            width: 3000px;
            height: 400px;

            .item{
                width: 300px;
                height: 200px;
                float: left;
                text-align: center;
                    @media (min-width: $largeMob){
                    width: 500px;
                    height: 400px;
                        }
                img{
                    max-width: 90%;
                }
            }
         }
    
    .next, .previous{
    display: block;
    width: 25px;
    height:25px;
    position: absolute;
    
    text-align: center;
   
    cursor: pointer;
    }
     .next{
    top:50%;
    right:0;
    transform: translate(0,-50%);
          &:after {
                     display: block;
                     content: "";
                     background-image: url('img/rightarrow.png');
                     background-repeat: no-repeat;
                     width: 25px;
                     height: 25px;
                     margin: auto;
                 }
 }
 .previous{
    top:50%;
    left:0;
    transform: translate(0,-50%);
       &:after {
                     display: block;
                     content: "";
                     background-image: url('img/leftarrow.png');
                     background-repeat: no-repeat;
                     width: 25px;
                     height: 25px;
                     margin: auto;
                 }

 }

          
     }
 }