 .quiz {
     margin: $marginScreen!important;
     h1 {
         text-align: center;
         margin-bottom: $marginScreen/2!important;
     }
     button {
         @include buttons();
         border: none;
         margin: auto;
     }
     .quizFormat {
         display: none;
         position: fixed;
         opacity: 0;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         @include block(380px, auto, white);
       
         margin: auto;
         form {
             margin: 30px;
             p {
                 line-height: 1.5em;
                 margin-bottom: 1em;
             }
         }
         .close {
             width: 26px;
             margin: -23px -28px 0 0px;
             font-size: 1.5em;
             font-weight: 100;
             cursor: pointer;
             float: right;
             background: white;
             border-radius: 18px;
             text-align: center;
             -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
 
         }
     }
 }