// webfonts
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

@font-face {
    font-family: 'Leander';
    src:url('fonts/Leander.ttf.woff') format('woff'),
        url('fonts/Leander.ttf.svg#Leander') format('svg'),
        url('fonts/Leander.ttf.eot'),
        url('fonts/Leander.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Bittersweet-NF';
    src:url('fonts/Bittersweet-NF.ttf.woff') format('woff'),
        url('fonts/Bittersweet-NF.ttf.svg#Bittersweet-NF') format('svg'),
        url('fonts/Bittersweet-NF.ttf.eot'),
        url('fonts/Bittersweet-NF.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

// .webfonts

// variables

$headingsFonts: 'Bittersweet-NF';
$bodyFonts: 'Leander';
$noteFonts: 'Dancing Script';

$titleFonts: 62px;
$bodytxtFonts: 16px;
$notetxtFonts: 23px;
$formtxtFonts:25px;

$textColor: #656565;
$lighterColor: #95989A;

// margins

$marginScreen: 45px;
$txtLineheight:2em;
$noteLineheght:30px;

// notw width & height

$noteWidth: 380px;
$noteHeight: 390px;

$mediumMob: 460px;
$noteMob: 520px;
$largeMob: 580px;
$smallPad:780px;
