@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700");
@font-face {
  font-family: 'Leander';
  src: url("fonts/Leander.ttf.woff") format("woff"), url("fonts/Leander.ttf.svg#Leander") format("svg"), url("fonts/Leander.ttf.eot"), url("fonts/Leander.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bittersweet-NF';
  src: url("fonts/Bittersweet-NF.ttf.woff") format("woff"), url("fonts/Bittersweet-NF.ttf.svg#Bittersweet-NF") format("svg"), url("fonts/Bittersweet-NF.ttf.eot"), url("fonts/Bittersweet-NF.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body, html, ul, li, p, div, section, blockquote, h1, h2, h3, h4, h5, img, input {
  margin: 0;
  padding: 0;
  font-family: "Leander";
  font-size: 16px; }

h1, h2, h3 {
  margin: 0 !important;
  font-family: "Bittersweet-NF";
  font-size: 41.3333333333px !important; }

p {
  line-height: 2em; }

section {
  max-width: 1128px;
  width: 100%;
  margin: auto; }

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

header {
  width: 100%;
  margin: auto; }
  header .banner {
    background-image: linear-gradient(rgba(62, 24, 50, 0.48), rgba(126, 40, 99, 0.41)), url(img/missphryne.jpg);
    display: flex;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center; }
    @media (min-width: 780px) {
      header .banner {
        height: 400px; } }
    header .banner .wrapper-caption {
      display: block;
      max-width: 1128px;
      width: 100%;
      padding: 45px;
      position: relative;
      color: white;
      top: 0;
      left: 5%; }
      header .banner .wrapper-caption .caption {
        width: 300px; }
        @media (min-width: 780px) {
          header .banner .wrapper-caption .caption {
            width: 340px; } }
        @media (min-width: 780px) {
          header .banner .wrapper-caption .caption h1 {
            font-size: 62px !important; } }
        header .banner .wrapper-caption .caption p {
          line-height: 1.4285714286em; }
        header .banner .wrapper-caption .caption .seperator {
          margin: .5em 0;
          width: 260px; }
          @media (min-width: 780px) {
            header .banner .wrapper-caption .caption .seperator {
              width: 334px; } }
          header .banner .wrapper-caption .caption .seperator:before {
            display: block;
            content: " ";
            border-top: white 5px solid; }

.introduction .logo {
  margin: 45px;
  text-align: center; }

.introduction p {
  display: block;
  width: 80%;
  text-align: center;
  margin: auto; }

.note {
  perspective: 700px;
  margin: 45px;
  position: relative; }
  .note .note-wrapper {
    transform-style: preserve-3d;
    transition: all .5s; }
    .note .note-wrapper .phrynesNote,
    .note .note-wrapper .noteForm {
      backface-visibility: hidden;
      background-color: white;
      max-width: 380px;
      height: 390px;
      -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
      box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
      margin: auto;
      text-align: center;
      padding: 22.5px; }
    .note .note-wrapper .phrynesNote h1 {
      display: inline-block;
      width: 80%; }
    .note .note-wrapper .phrynesNote blockquote {
      padding-top: 11.25px;
      display: block;
      width: 80%;
      text-align: center;
      margin: auto;
      font-family: "Dancing Script";
      font-size: 23px;
      line-height: 30px; }
      @media (min-width: 460px) {
        .note .note-wrapper .phrynesNote blockquote {
          line-height: 39px; } }
      @media (min-width: 520px) {
        .note .note-wrapper .phrynesNote blockquote {
          line-height: 54px; } }
    .note .note-wrapper .phrynesNote .arrowButton {
      cursor: pointer;
      width: 25px;
      height: 25px;
      margin: auto;
      padding-top: 11.25px; }
      .note .note-wrapper .phrynesNote .arrowButton:after {
        display: block;
        content: "";
        background-image: url("img/rightarrow.png");
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin: auto; }
    .note .note-wrapper .noteForm {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: rotateY(180deg); }
      .note .note-wrapper .noteForm span {
        text-align: left;
        display: block;
        margin-left: 7%;
        line-height: 2em;
        font-size: .8em;
        opacity: 0; }
      .note .note-wrapper .noteForm input {
        border: none;
        border-bottom: 1px solid #656565;
        width: 90%;
        margin-top: 45px;
        outline: none;
        height: 40px; }
        @media (max-width: 460px) {
          .note .note-wrapper .noteForm input {
            margin-top: 22.5px; } }
        .note .note-wrapper .noteForm input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-family: "Leander";
          color: #656565;
          font-size: 25px; }
        .note .note-wrapper .noteForm input::-moz-placeholder {
          /* Firefox 19+ */
          font-family: "Leander";
          color: #656565;
          font-size: 25px; }
        .note .note-wrapper .noteForm input:-ms-input-placeholder {
          /* IE 10+ */
          font-family: "Leander";
          color: #656565;
          font-size: 25px; }
        .note .note-wrapper .noteForm input:-moz-placeholder {
          /* Firefox 18- */
          font-family: "Leander";
          color: #656565;
          font-size: 25px; }
        .note .note-wrapper .noteForm input[type="submit"] {
          border-bottom: none;
          background-color: white;
          font-family: "Leander";
          color: #656565;
          font-size: 25px;
          cursor: pointer;
          width: initial;
          margin-left: 20px;
          display: block;
          outline: none; }
      .note .note-wrapper .noteForm #status {
        text-align: left;
        margin-left: 21px; }

.privatecollection h1 {
  text-align: center;
  margin-bottom: 22.5px !important; }

.privatecollection p {
  display: block;
  width: 80%;
  text-align: center;
  margin: auto; }

.privatecollection .gallery {
  display: block;
  width: auto;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  position: relative;
  margin: 3em auto; }
  @media (min-width: 580px) {
    .privatecollection .gallery {
      width: 500px;
      height: 400px; } }
  .privatecollection .gallery .galleryImages {
    position: absolute;
    width: 3000px;
    height: 400px; }
    .privatecollection .gallery .galleryImages .item {
      width: 300px;
      height: 200px;
      float: left;
      text-align: center; }
      @media (min-width: 580px) {
        .privatecollection .gallery .galleryImages .item {
          width: 500px;
          height: 400px; } }
      .privatecollection .gallery .galleryImages .item img {
        max-width: 90%; }
  .privatecollection .gallery .next, .privatecollection .gallery .previous {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    cursor: pointer; }
  .privatecollection .gallery .next {
    top: 50%;
    right: 0;
    transform: translate(0, -50%); }
    .privatecollection .gallery .next:after {
      display: block;
      content: "";
      background-image: url("img/rightarrow.png");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      margin: auto; }
  .privatecollection .gallery .previous {
    top: 50%;
    left: 0;
    transform: translate(0, -50%); }
    .privatecollection .gallery .previous:after {
      display: block;
      content: "";
      background-image: url("img/leftarrow.png");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      margin: auto; }

.quiz {
  margin: 45px !important; }
  .quiz h1 {
    text-align: center;
    margin-bottom: 22.5px !important; }
  .quiz button {
    border-bottom: none;
    background-color: white;
    font-family: "Leander";
    color: #656565;
    font-size: 25px;
    cursor: pointer;
    width: initial;
    margin-left: 20px;
    display: block;
    outline: none;
    border: none;
    margin: auto; }
  .quiz .quizFormat {
    display: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 380px;
    height: auto;
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
    margin: auto; }
    .quiz .quizFormat form {
      margin: 30px; }
      .quiz .quizFormat form p {
        line-height: 1.5em;
        margin-bottom: 1em; }
    .quiz .quizFormat .close {
      width: 26px;
      margin: -23px -28px 0 0px;
      font-size: 1.5em;
      font-weight: 100;
      cursor: pointer;
      float: right;
      background: white;
      border-radius: 18px;
      text-align: center;
      -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49);
      box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.49); }

footer p {
  font-size: 12.3076923077px;
  line-height: 1.3em;
  text-align: center;
  width: 80%;
  margin: 45px auto; }

footer hr {
  width: 50%;
  opacity: .3; }
